body { background-color: #000; }

#container { text-align: center;
             color: #FFF;
             font-family: Arial, Helvetica,
             sans-serif; }

.selectionOptions { display: inline-block;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-right: 40px;
                    padding-left: 40px; }

#breakButtonPlus, #breakButtonMinus, #sessionButtonPlus,
#sessionButtonMinus
{ margin-right: 10px;
  color: #FFF;
  border: none;
  background-color: transparent;
  text-decoration: none;
  font-size: 60px; }

.count { border: none;
         color: #FFF;
         background-color: transparent;
         font-size: 50px;
         width: 65px; }

#timer { font-size: 30px;
         padding-bottom: 20px; }

#minutes, #seconds, #timeUpMessage
{  border: none;
   background-color: transparent;
   color: #FFF;
   width: 80px; 
   font-size: 50px; }

#startButton { border: 1px solid #FFF;
                border-radius: 10px;
                color: #FFF;
                background-color: green;
                padding: 10px;
                font-size: 20px; }

#startButton { margin-right: 20px; }

#stopButton { border: 1px solid #FFF;
              border-radius: 10px;
              color: #FFF;
              background-color: red;
              padding: 10px;
              font-size: 20px; }













